body {
  background-color: #4E89AE;
}

 hr {

   border-style: none;
   border-top-style: dotted;
   border-color:  #ed6663;
   border-width: 5px;
   width: 5%;
 }


h1 {

color: #ffa372

}

h2 {

color: #ffa372


}


p {

  color: white
}
